@{
	var dati = ViewBag.PianiStudi as List<dynamic>;
}

<div class="container mb-5" style="padding-top: 120px;">
	<div class="row">
		<h1 class="mb-4">Piano di Studi</h1>
		<div class="col-md-8">
			<div class="mb-4">
				Organizza al meglio il tuo<b> percorso accademico</b> consultando l'elenco dettagliato degli esami previsti per ogni corso di tuo interesse.
			</div>

			@if (dati != null && dati.Any())
			{
				var facoltaGruppi = dati.GroupBy(d => d.Facolta);
				<div class="accordion" id="accordionPiano">
					@foreach (var facolta in facoltaGruppi)
					{
						string facoltaId = "facolta_" + facolta.Key.Replace(" ", "").ToLower();

						<div class="accordion-item">
							<h2 class="accordion-header" id="heading-@facoltaId">
								<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse"
										data-bs-target="#@facoltaId"
										aria-expanded="false"
										aria-controls="@facoltaId">
									<strong>@facolta.Key</strong>
								</button>
							</h2>
							<div id="@facoltaId" class="accordion-collapse collapse"
								 aria-labelledby="heading-@facoltaId"
								 data-bs-parent="#accordionPiano">
								<div class="accordion-body">
									@foreach (var corso in facolta.GroupBy(f => f.Corso))
									{
										<div class="mb-3">
											<h5>@corso.Key</h5>
											<ul class="list-group">
												@foreach (var esame in corso)
												{
													<li class="list-group-item">
														<nobr>Esame:</nobr> <a class="text-primary">@esame.Esame</a> <br />
														Anno Accademico: <strong>@esame.AnnoAccademico</strong> <br />
														<nobr>CFU:</nobr> <strong> @esame.CFU </strong> <br />
														<nobr>Obbligatorio:</nobr> <strong>@(esame.Obbligatorio == "S" ? "Sì" : "No")</strong>
													</li>
												}
											</ul>
										</div>
									}
								</div>
							</div>
						</div>
					}
				</div>
			}
			else
			{
				<p><b></b>Nessun dato disponibile.</p>
			}
		</div>

		<div class="col-md-4 d-flex align-items-start">
			<img src="~/sources/study plan.jpg" class="img-fluid rounded shadow" alt="Piano di studi" />
		</div>
	</div>
</div>
