@model List<AreaDocente.Models.Entities.MVCLezioni>

<div class="container">
    <h1>Elenco Lezioni</h1>

    <table class="table">
        <thead>
            <tr>
                @* <th class="th">K</th> *@
                <th>Esame</th>
                <th>Titolo lezione</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lezioni in Model)
            {
                <tr>
                    @* <td class="th">@lezioni.K_Lezione</td> *@
                    <td>@Html.DisplayFor(Model => lezioni.Esame.TitoloEsame)</td>
                    <td>@lezioni.Titolo</td>
                    <td><a href="@lezioni.Video">Link</a></td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Lezioni" asp-action="Edit" asp-route-id="@lezioni.K_Lezione">Modifica</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a class="btn btn-primary" asp-controller="Lezioni" asp-action="Add">Inserire del nuovo materiale</a>
                </td>
            </tr>
        </tfoot>
    </table>

    @* @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        @if (TempData["AlertMessage"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Operazione riuscita',
                    text: '@TempData["AlertMessage"]'
                });
            </script>
        }
    } *@
</div>
