@model AreaStudente.Models.ModificaStudenteViewModel

<div class="main-content">
	<div class="container-fluid">
		<form class="row" method="post" id="modifica-form" enctype="multipart/form-data">
			<input type="hidden" asp-for="K_Studente" />
			<div class="col-xl-8 order-xl-1 mt--7">
				<div class="card shadow">
					<div class="card-body">
						<h3 class="text-center mb-2">Procedura di Immatricolazione</h3>
						<p class="text-black px-1">
							In quest’area personale puoi scegliere la facoltà di tuo interesse, selezionare il corso di laurea e completare il primo pagamento per l’immatricolazione.
							Ti ricordiamo che, una volta confermate, le scelte relative alla facoltà e al corso non potranno essere modificate senza una nuova procedura di iscrizione.
						</p>

						<h4 class="heading-small text-muted">SELEZIONA UNA FACOLTÀ</h4>
						<div class="row mb-0 mb-lg-3 align-items-end">
							<div class="col-12 col-lg-9 mb-2 mb-lg-0">				
								<select asp-for="K_Facolta" asp-items="Model.FacoltaList" class="form-select" onchange="this.form.submit()">
									<option disabled selected >-- Selezionare una Facoltà --</option>
								</select>
							</div>							
						</div>

						<hr class="my-4">
						<h4 class="heading-small text-muted">SELEZIONA UNA CORSO</h4>
						<div class="row mb-0 mb-lg-3 align-items-end">
							<div class="col-12 col-lg-9 mb-2 mb-lg-0">
								<select asp-for="K_Corso" asp-items="Model.CorsiList" class="form-select">
									<option disabled selected>-- Selezionare un Corso --</option>
								</select>
							</div>
						</div>
																							


						<hr class="my-4">
						<h4 class="heading-small text-muted">Dati Anagrafici</h4>
						<div class="row mb-0 mb-lg-3">
							<div class="col-12 col-lg-4 mb-2 mb-lg-0">
								<label class="form-label form-control-label">Cognome</label>
								<input type="text" asp-for="Cognome" class="form-control form-control-alternative" required />
							</div>
							<div class="col-12 col-lg-4 mb-2">
								<label class="form-label form-control-label">Nome</label>
								<input type="text" asp-for="Nome" class="form-control form-control-alternative" required />
							</div>
							<div class="col-12 col-lg-4 mb-2">
								<label class="form-label form-control-label">Data di Nascita</label>
								<input type="date" asp-for="DataNascita" class="form-control form-control-alternative" required />
							</div>
						</div>

						<hr class="my-4">

						<h4 class="heading-small text-muted mt-0">Informazioni di contatto</h4>
						<div class="row mb-0 mb-lg-3">
							<div class="col-12 col-lg-9 mb-2 mb-lg-0">
								<label class="form-label form-control-label">Indirizzo</label>
								<input type="text" asp-for="Indirizzo" class="form-control form-control-alternative" required />
							</div>
							<div class="col-12 col-lg-3 mb-2 mb-lg-0">
								<label class="form-label form-control-label">CAP</label>
								<input type="text" asp-for="CAP" class="form-control form-control-alternative" maxlength="5" required />
							</div>
						</div>

						<div class="row mb-0 mb-lg-3">
							<div class="col-12 col-lg-9 mb-2 mb-lg-0">
								<label class="form-label form-control-label">Città</label>
								<input type="text" asp-for="Citta" class="form-control form-control-alternative" required />
							</div>
							<div class="col-12 col-lg-3 mb-2 mb-lg-0">
								<label class="form-label form-control-label">Provincia</label>
								<input type="text" asp-for="Provincia" class="form-control text-uppercase form-control-alternative" maxlength="2" required />
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary" style="width: 179px;">Salva</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-xl-4 px-0 px-lg-2 mt-xl-0 order-xl-2 mt--7">
				<div class="card shadow">
					<div class="card-body">
						@* <div class="bg-white border border-1 border-black shadow rounded-5 p-4 position-relative"> *@

						@{
							bool hasImage = Model?.ImmagineProfilo != null && Model.ImmagineProfilo.Length > 0;
							string imgSrc = null;

							if (hasImage)
							{
								var base64 = Convert.ToBase64String(Model.ImmagineProfilo);
								imgSrc = $"data:image/jpeg;base64,{base64}";
							}
						}

						<div id="img-container" class="position-absolute top-0 start-50 translate-middle mb-5 d-flex justify-content-center align-items-center"
							 style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; background-color: #f0f0f0; font-size: 4rem;">
							@if (hasImage)
							{
								<img src="@imgSrc" alt="Immagine Profilo" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
							}
							else
							{
								<!-- Imposta le dimensioni dell'icona per essere uguali all'immagine -->
								<i class="bi bi-person-circle rounded img-icon text-black bg-white" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; font-size: 6rem; border-radius: 50%;"></i>
							}
						</div>
						<h4 class="text-center mt-5">
							<!-- Mostra il nome solo se il modello non è null/vuoto -->
							@(Model?.Nome ?? "Studente") @(Model?.Cognome ?? "Cognome")
						</h4>
						<p class="text-center">@Model?.Email</p>
						@* <p class="fs-3 text-center">Riepilogo Profilo</p>
						<hr class="my-4">
						<h6 class="heading-small text-muted mb-4 text-center">Informazioni di Immatricolazione</h6>
						<div class="pl-lg-4">
							<div class="row g-3">
								<div class="col-md-6">
									<div class="form-group focused">
										<label class="form-control-label" for="input-matriculation-number">Matricola</label>
										<input id="input-matriculation-number" class="form-control form-control-alternative" placeholder="Numero Matricola" value="@(Model?.Matricola?.ToString() ?? "N/A")" type="text" readonly>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group focused">
										<label class="form-control-label" for="input-date-matriculation">Data di Immatricolazione</label>
										<input id="input-date-matriculation" class="form-control form-control-alternative" placeholder="Data di Immatricolazione" value="@(Model?.DataImmatricolazione?.ToString("dd/MM/yyyy") ?? "N/A")" type="text" readonly>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group focused">
										<label class="form-control-label" for="input-enabled">Corso</label>
										<input id="input-enabled" class="form-control form-control-alternative" value="@(Model?.Corso?.TitoloCorso?? "N/A")" type="text" readonly>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group focused">
										<label class="form-control-label" for="input-course">Facoltà</label>
										<input id="input-course" class="form-control form-control-alternative" value="@(Model?.Corso?.Facolta?.TitoloFacolta?? "N/A")" type="text" readonly>
									</div>
								</div>
							</div>
						</div> *@
						<hr class="my-4">
					</div>
				</div>
				@* </div> *@
			</div>
		</form>
	</div>
</div>



